
/* Styles for <h1> element */
h1 {
    font-size: 24px; 
    font-weight: bold; 
    color: #1f0117; 
    text-align: center;
    /*additional animation*/
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 5px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}

/*Styles for <img> element*/
img {
    height:800px;
    width:800px;
    display: block;
    margin: 0 auto; 
}
/* Styles for <h2> element */
h2 {
    font-size: 20px; 
    font-weight: bold; 
    color: #630350; 
    text-align: center;
}

/* Styles for <p> element */
p {
    font-size: 16px; 
    line-height: 1.5; 
    color: #630350; 
    font-family: cursive;
    

}
/*Styles for <footer> element */
footer{
    font-size: 20px; 
    font-weight: bold; 
    color: #630350; 
    text-align: center; 
   
}

/*Styles for <body> element */
body{
    background: linear-gradient(to bottom, rgba(255, 204, 204, 0.5), rgba(255, 102, 102, 0.5));
}
